.title-carousel
    position: absolute
    width: 100%
    left: 0
    height: 100px
    z-index: 1
    bottom: 50px
    background: rgba(0,0,0,0.5)

.container > h4, p
    color: white

.container > h4
    margin-bottom: 0
